<footer class="footer">
	<div class="footer-container">
		<div class="footer-left">
			<img src="img/logo1_white.png" alt="公司Logo">
			<h2 id="fname">上海平野环保科技有限公司</h2>
			<p id="faddress">地址：上海青浦区崧煌路77号</p>
			<p id="ftel">总机：+86-21-59895111</p>
			<p id="ffax">传真：+86-21-59895118</p>
		</div>

		<div class="footer-center">
			<table>
				<tr>
					<th id="fCI1">企业介绍</th>
					<th id="fPC">产品中心</th>
					<th id="fCU1">联系我们</th>
					<th id="fCoC1">合作客户</th>
				</tr>
				<tr>
					<td><a href="CompanyIntroduction.html" id="fCI2">企业介绍</td>
					<td><a href="battery.html" id="fb">电池产品</td>
					<td><a href="ContactUs.html" id="fCU2">联系方式</td>
					<td><a href="CooperativeCustomers.html" id="fCoC2">合作客户</td>
				</tr>
				<tr>
					<td><a href="EnterpriseQualifications.html" id="fEQ">企业资质</td>
					<td><a href="chargers.html" id="fc">充电机产品</td>
					<td><a href="MessageBoard.html" id="fMB">留言板</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="CorporateCulture.html" id="fCC">企业文化</td>
					<td><a href="EnergyStorage.html" id="fES">储能柜产品</td>
					<td><a href="JoinUs.html" id="fJU">加入我们</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="EnvironmentalProtection.html" id="fEP">平野环保</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				
			</table>
		</div>

		<div class="footer-right">
			<img src="img/qrcode.png" alt="公司官网二维码">
			<p>邮编: 201706</p>
			<p>邮箱: hirano@hirano.com.cn</p>
			<p>沪ICP备05039565号-1</p>
		</div>
	</div>
</footer>
