<header class="navbar">
	<div class="logo">
		<img src="img/logo1_blue.png" alt="Logo">
	</div>
	
	<nav>
		<ul class="nav-menu">
		<li><a href="index.html" id="mainpage">首页</a></li>
		<li class="has-submenu">
			<a href="CompanyIntroduction.html" id="hCI1">企业介绍</a>
			<ul class="submenu">
				<li><a href="CompanyIntroduction.html" id="hCI2">企业介绍</a></li>
				<li><a href="EnterpriseQualifications.html" id="hEQ">企业资质</a></li>
				<li><a href="CorporateCulture.html" id="hCC">企业文化</a></li>
				<li><a href="EnvironmentalProtection.html" id="hEP">平野环保</a></li>
			</ul>
		</li>
		<li class="has-submenu">
			<a href="ProductCenter.html" id="hPC1">产品中心</a>
			<ul class="submenu">
				<li><a href="battery.html" id="hb">电池产品</a></li>
				<li><a href="chargers.html" id="hc">充电机产品</a></li>
				<li><a href="EnergyStorage.html" id="he">储能柜产品</a></li>
				<li><a href="FileDownload.html" id="hf">资料下载</a></li>
			</ul>
		</li>
		<li class="has-submenu">
			<a href="ContactUs.html" id="hCU1">联系我们</a>
			<ul class="submenu">
				<li><a href="ContactUs.html" id="hCU2">联系方式</a></li>
				<li><a href="MessageBoard.html" id="hMB">留言板</a></li>
				<li class="has-submenu">
					<a href="JoinUs.html" id="hJU">加入我们</a>
					<ul class="submenu">
						<li><a href="CampusRecruitment.html" id="hCR">校园招聘</a></li>
						<li><a href="SocialRecruitment.html" id="hSR">社会招聘</a></li>
					</ul>
				</li>
			</ul>
		</li>
			<li><a href="CooperativeCustomers.html" id="hCoC">合作客户</a></li>
		</ul>
	</nav>
	
    <!-- <div class="lang-switch">
		<button data-lang="zh">中文</button>
		<button data-lang="en">ENG</button>
		<button data-lang="ja">日本語</button>
	</div> -->
	<!-- <div class="lang-switch">
		<button class="lang-toggle">🌐</button>
		<div class="lang-options">
			<button data-lang="zh"><span class="full">中文</span><span class="short">中</span></button>
			<button data-lang="en"><span class="full">ENG</span><span class="short">EN</span></button>
			<button data-lang="ja"><span class="full">日本語</span><span class="short">日</span></button>
		</div>
	</div> -->
	<div class="lang-switch">
		<button data-lang="zh"><span class="full">中文</span><span class="short">中</span></button>
		<button data-lang="en"><span class="full">ENG</span><span class="short">EN</span></button>
		<button data-lang="ja"><span class="full">日本語</span><span class="short">日</span></button>
	</div>


	<button class="mobile-menu-toggle" aria-label="Toggle Menu">☰</button>
  </header>